<div class="content">
  <div class="slideMenu">
    <ul>
      <li *ngFor="let s of slides; let i = index"
          [ngClass]="{activeSlide: s.status}"
          (click)="checkThisSlide(i)"
      >{{s.name}}
      </li>
    </ul>
  </div>
  <div class="slideImgText">
    <div class="slideImg">
      <img src={{addrSlideUp}} [ngStyle]="{'opacity': opacitySlide}" class="imgUp">
      <img src={{addrSlideDown}} class="imgDown">
    </div>
    <div class="slideText">
      Text
    </div>
  </div>
</div>
